.post
  margin: 10em
  margin-top 0px

.fill-remaining-space
  flex 1 1 auto

@media ( max-width 800px)
  .post
     margin 0em
     margin-bottom  5em

.footer
  color: #293133
  text-align center
  height 3vh

