
<mat-toolbar color="primary">
  <span class="login-icon" >
    <div class="profile-image" >
        <img src="http://192.168.122.87:9000/gallifrey-images/f9bfbb93741eb938a602a5bb366a6289-821350d0a39e2ec6cecaccc532b68fe8GerhardM%C3%BCller?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=admin%2F20191104%2F%2Fs3%2Faws4_request&X-Amz-Date=20191104T154022Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=2c5d3f06cde4872a900d2127d609c2c93642f289b6ab36e4ab637f9ba2683748" />
    </div>
  </span>
  <span class="fill-remaining-space"></span>
  <a class="title" href="/" >{{title}}</a>
  <span class="fill-remaining-space"></span>
  <span class="share-icon" ><i class="header-icons material-icons md-light md-48">add_a_photo</i></span>
</mat-toolbar>

<mat-tab-group primary="" mat-stretch-tabs headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="inlay-wrapper">
        <app-home></app-home>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>explore</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="inlay-wrapper">
        <app-explore></app-explore>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>group</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="inlay-wrapper">
        <app-social></app-social>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
