

.mat-toolbar.mat-primary
  background-color #293133

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

.fill-remaining-space
  flex 1 1 auto

.header-icons
  text-align center
  font-size 48px

.title
  font-family: 'Kaushan Script', cursive
  font-size 48px
  color: white
  text-decoration: none

.login-icon
  background-color #293133
  width 50px

.upload-icon
  overflow hidden
  transition-duration .5s
  cursor default
.upload-icon:hover
  transform rotate( -11deg )
  transition-duration .5s
  cursor pointer

.inlay-wrapper
  height 88vh
