
<mat-toolbar color="primary">
  <span class="login-icon" >
  </span>
  <span class="fill-remaining-space"></span>
  <a class="title" href="/" >{{title}}</a>
  <span class="fill-remaining-space"></span>
  <span class="upload-icon" ><i (click)="openDialog()" class="header-icons material-icons md-light md-48">add_a_photo</i></span>
</mat-toolbar>

<mat-tab-group primary="" mat-stretch-tabs headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="inlay-wrapper">
        <app-home></app-home>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>explore</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="inlay-wrapper">
        <app-explore></app-explore>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>language</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="inlay-wrapper">
        <app-globus></app-globus>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>group</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="inlay-wrapper">
        <app-social></app-social>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
