/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap')

app-root
  height: 100vh
  width: 100vw

.loading-wrapper
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw

.loading
  font-family: 'Kaushan Script', cursive
  font-size: 6.5em
  text-shadow: 2px 2px 10px rgba(255,255,255,0.2)
  background-color #293133
  color: white
  border-radius 0.03em

noscript
  z-index 1000
  width 100vh
  height 100vw
  background white
  color #293133
  text-align center

body
  background: #fbfbfc
  margin: 0
  padding: 0
  overflow hidden

a
  color #293133
  text-decoration none
a :hover
  text-decoration underline
